<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="headline">Travel App</div>
      <form onsubmit="return Client.getCityName(event)">
        <div class="input-content">
          <label for="city">city to visit</label>
          <input type="text" id="cityName" placeholder="City Name" />
        </div>
        <div class="input-date">
          <label for="date">Date of trip</label>
          <input type="date" id="travelDate" />
        </div>
        <button
          id="generate"
          type="submit"
          onclick="return Client.getCityName(event)"
          onsubmit="return Client.getCityName(event)"
        >
          Generate
        </button>
      </form>
    </div>
    <div class="holder entry">
      <div class="title">Most Recent Entry</div>
      <div id="entryHolder">
        <div id="date"></div>
        <div id="latitud"></div>
        <div id="longitud"></div>
        <div id="name"></div>
      </div>
    </div>
    <script src="../js/app.js" type="text/javascript"></script>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
