body {
  background-color: #4055b6;
  min-height: 80vh;
  margin: 0;
}

#app {
  // image taken from unsplash
  background-image: url("https://images.unsplash.com/photo-1509343256512-d77a5cb3791b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  padding: 50px 30px;
}

.headline {
  font-size: 50px;
  padding: 50px 0 30px;
  text-align: center;
  color: white;
}

form {
  background-color: white;
  margin: auto;
  max-width: 300px;
  padding: 40px;
  box-sizing: border-box;

  label {
    margin-bottom: 10px;
  }
}

.input-content,
.input-date {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#generate {
  cursor: pointer;
  background-color: #3ae29c;
  border: 0;
  padding: 20px;
  display: block;
  margin: 0 auto;
  width: 100%;
}

#generate:hover {
  background-color: #30b47d;
}

// /*  Basic Styling To Override Default For Basic HTML Elements */
// label {
//   display: block;
//   font-size: 27px;
//   :focus {
//     outline: none;
//   }
// }

// input {
//   display: block;
//   height: 60px;
//   width: 320px;
//   background: #fff;
//   color: #888;
//   font-size: 20px;
//   font-family: "Oswald", sans-serif;
//   border: none;

//   :focus {
//     outline: none;
//   }
// }

// button {
//   background: #3b4a6b;
//   color: #f0d43a;
//   font-size: 26px;
//   font-family: "Oswald", sans-serif;
//   border: none;
//   box-shadow: 2px 4px 5px #444;
//   min-width: 320px;
//   padding: 15px 10px;
//   margin-bottom: 20px;

//   :focus {
//     outline: none;
//   }
// }
// h1 {
//   font-size: 36px;
// }

// textarea {
//   background: #fff;
//   color: #888;
//   font-size: 20px;
//   font-family: "Oswald", sans-serif;
//   margin-bottom: 20px;
//   width: 320px;
//   height: 100px;

//   :focus {
//     outline: none;
//   }
// }

// @media (min-width: 600px) {
//   textarea {
//     max-width: 500px;
//   }
// }

// /* Style for Placeholder Text*/
// ::placeholder {
//   /* Firefox, Chrome, Opera */
//   color: #888;
//   font-family: "Oswald", sans-serif;
// }

// :-ms-input-placeholder {
//   /* Internet Explorer 10-11 */
//   color: #888;
//   font-family: "Oswald", sans-serif;
// }

// ::-ms-input-placeholder {
//   /* Microsoft Edge */
//   color: #888;
//   font-family: "Oswald", sans-serif;
// }
