body {
  background: #f23557;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  color: #f0d43a;
  justify-content: center;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.entry {
  box-sizing: border-box;
  width: 320px;
  padding: 20px;
  background: rgba(38, 42, 51, 0.4);
}

#entryHolder {
  margin-top: 20px;
  color: white;
}

#city {
  font-size: 24px;
}

.headline {
  font-size: 50px;
  padding: 50px 0 30px;
  text-align: center;
}

.input-buttons {
  display: flex;
  flex-direction: column;
}

.input-content {
  margin-bottom: 20px;
}

#generate {
  cursor: pointer;
}

#generate:hover {
  background-color: black;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #fff;
  color: #888;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  min-width: 320px;
  padding: 15px 10px;
  margin-bottom: 20px;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #fff;
  color: #888;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
  width: 320px;
  height: 100px;
}

@media (min-width: 600px) {
  textarea {
    max-width: 500px;
  }
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #888;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #888;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #888;
  font-family: "Oswald", sans-serif;
}
